extends layout
block content
    .forms
        .form-container
            form(method="POST" action='' class='signup-form')
                .form-control
                    label(for="username") Username
                    input#username(name="username" type="text" required="true")
                .form-control
                    label(for="password") Password
                    input#password(name="password" type="password" required="true")
                button.btn(type='submit') SignUp